.reviews {
}

.reviews_top {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(173, 172, 172, 0.568);
}

.reviews_top-star {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

/* Star */
.reviews_top-star-header,
.reviews_top-star-point,
.reviews_top-star-count {
  margin: auto;
  padding: 5px 0;
}

.reviews_top-star-header span {
  font-weight: 700;
  font-size: 18px;
}

.reviews_top-star-point span{
  margin-right: 3px;
  font-size: 18px;
  font-weight: 900;
}

.reviews_top-star-count span{
  font-weight: 700;
}

.reviews_top-progress {
  width: 60%;
}

.reviews_top-create {
  width: 20%;
  display: flex;
}

/* Review Progress */

.reviews_top-progress {
  display: flex;
  flex-direction: column;
}

.reviews_top-progress-star {
  display: flex;
  width: 100%;
}

.reviews_top-progress-star-1 {
  width: 10%;
}

.reviews_top-progress-star-1 span {
  margin-right: 3px;
}

.reviews_top-progress-star-2 {
  width: 70%;
}

.reviews_top-progress-star-3 {
  width: 20%;
  display: flex;
}
.reviews_top-progress-star-3 span {
  margin: 0 auto;
}
