.container-special{
  border: 1px solid rgba(165, 164, 164, 0.137);
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(66, 65, 65, 0.2)
}

/* Order Header Features */
.order_header{
  display: flex;
  flex-direction: column;
}

.order_header-buyer{
  margin: 10px 0 0 30px;
}

.order_header-buyer span{
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}


.order-table-product {
  display: flex;
  flex-direction: row;
}

.order-table-img {
  width: 100px;
  height: 100px;
}

.order-table-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.order-table-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
}

/*  Order Footer */
.order-footer{
  margin: 20px 0;
}
