body {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  overflow-x: hidden;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.mobileVisible {
  display: none ;
}

.mobileHidden {
  display: block;
}

@media only screen and (max-width: 767px) {
  .mobileVisible {
    display: block;
  }

  .mobileHidden {
    display: none !important; 
  }
}
