.order-date-delivery {
  display: flex;
  justify-content: flex-end;
}

.order-date-delivery span {
  color: rgba(0, 0, 0, 1);
}

/* Information Receiver */

.order-infor-receiver {
  margin: 20px 0;
}

.order-infor-address-wrapper {
  display: flex;
  flex-direction: column;
}

.order-infor-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.order-infor-address,
.order-infor-delivery {
  display: flex;
  flex-direction: column;
}

.order-table-product{
    display: flex;
    flex-direction: row;
}

.order-table-img{
    width: 100px;
    height: 100px;
}

.order-table-img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.order-table-info{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    margin-left: 20px;
}

/* Total */
.order-total{
    margin: 20px  0;
    display: flex;
    flex-direction: column;
}


