.checkout-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.checkout-header {
  display: flex;
  margin: 10px auto;
}

.checkout-content {
  display: flex;
  justify-content: center;
}

.checkout-price {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  /* height: 47px; */
  width: 80%;
  border: 1px solid rgba(196, 192, 192, 0.3);
  border-radius: 5px;
}

.checkout-col {
  padding: 10px 30px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.checkout-col span {
  font-weight: 500;
}
