.product_data{
    display: flex;
    margin: 20px 0;
    flex-direction: column;
}

.product_data-header{
    margin: 0 auto;
}

.product_data-header h3{
    text-transform: uppercase;
    font-weight: 700;
}

.product_data-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 30px 0;
}

.product_data-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;
    /* margin: 10px 0; */
}

.product_data-search{
    margin: 0 10px;
}

.product_data-pagination{
    display: flex;
    margin: 20px auto;
}

.product_data-pagination .ant-pagination{
    display: flex;
    margin: 20px auto;
}