.cart-full-wrapper {
  margin-bottom: 200px;
}

.cart-product-infor {
  display: flex;
  flex-direction: row;
}

.cart-product-infor img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: scale-down;
}

.cart-product-infor a {
  margin: auto 0;
}

.cart-amount {
  width: 100px;
}

.cart-amount button {
  border: 1px solid rgb(80, 79, 79, 0.3);
  cursor: pointer;
  width: 30px;
}

.cart-amount-input {
  width: 40px;
  text-align: center;
  border: 1px solid rgb(80, 79, 79, 0.3);
  user-select: none;
}

/* Total Price */

.cart-total-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cart-total-price {
  margin: 30px 10px;
  display: flex;
  flex-direction: column;
  /* height: 47px; */
  width: 400px;
  border: 1px solid rgba(196, 192, 192, 0.3);
  border-radius: 5px;

}

.cart-total {
  padding: 10px 30px;
  margin: auto 0;
  display: flex;
  justify-content: space-between;
}

.cart-total span{
  font-weight: 500;
}



/* BreadCumb */

.breadcumb-wrapper {
  margin-bottom: 10px;
}
