.voucher_detail-main {
  display: flex;
  width: 100%;
  height: 500px;
}

.voucher_detail-left {
  width: 60%;
  border-right: 1px solid rgba(80, 79, 79, 0.473);
  display: flex;
  flex-direction: column;

}

.voucher_detail-right {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.voucher_detail-left-header, .voucher_detail-right-header{
    margin: 20px auto;
}

.voucher_detail-left-header span, .voucher_detail-right-header span{ 
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid rgba(128, 127, 127, 0.534);
}

.voucher_detail-right-table{
    margin-left: 20px;
}

.voucher_detail-right-table .ant-btn{
    margin: 10px 0;
}


