.cart-banner{
    border: 0.2rem solid rgba(8, 145, 224, 0.7);
    border-radius: 4px;
    height: 2.5rem;
    width: 100%;
    display: flex;
    background-color: rgba(8, 145, 224, 0.05);
}

.cart-banner span{
    margin: auto;
}