.breadcumb-wrapper {
  margin-bottom: 30px;
}
/* main-product */
.main-product {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* left-product */
.left-product {
  width: 50%;
}

.image-product-overview-wrapper {
  width: 100%;
  padding: 1px;
  margin-bottom: 20px;
  display: block;
}
/* .image-product-overview-wrapper:hover {
  border: 1px solid rgb(231, 231, 231);
  border-radius: 10px;
} */

.image-wrapper {
  width: 640px;
  margin: 0 auto;
  height: 550px;
}

.image-wrapper .image-primary {
  max-height: 100%;
  max-width: 100%;
  transform: scale(1) translate(0px, 0px);
  margin-right: auto;
  margin-left: auto;
}

/* thumbnail-list */
.thumbnail-list {
  display: flex;
  flex-direction: row;
  height: 60px;
}

.image-thumbnail {
  margin: 0 10px;
}

.image-thumbnail button img {
  height: 60px;
  width: auto;
  cursor: pointer;
}

/* right-product */
.right-product {
  width: 50%;
  margin-left: 50px;
}

.product-name h3 {
  font-size: 20px;
  font-weight: 700;
}

.product-title {
  margin-bottom: 10px;
}

.product-title-data {
  display: flex;
  flex-direction: row;
}

.product-title-data .product-model {
  margin-right: 10px;
}

.product-generated .ant-rate {
  font-size: 14px;
}

/* Product Variations */

.product-variations {
  margin-top: 50px;
}

.product-memory{
  margin-top: 20px;
}

.product-model-family-name p,
.product-memory-name p {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.product-model-family .ant-select,
.product-memory .ant-select {
  width: 100% !important;
  margin-top: 5px;
}
