.ant-layout-header {
  height: 162px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  width: 180px;
}

.logo a:hover {
  color: #1890ff !important;
}

.header_menu {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.ant-menu-item {
  font-size: 16px;
}

.cart_icon {
  position: relative;
}

.badge-count {
  position: absolute;
  top: 5px;
  right: 5px;
}

.ant-anchor-link {
  padding: 16px 0 16px 16px;
  font-size: 16px;
  border-bottom: 1px solid rgba(221, 219, 219, 0.678);
}

.ant-menu-submenu-title {
  padding: 15px !important;
}

.user_infor{
  position: relative;
}

.user_infor:hover .user_dropdown{
  display: block;
}

.user_dropdown{
  position: absolute;
  display: none;
  content: "";
  top: 50px;
  left: 22px;
  background: #fff;
  width: 120px;
  height: 80px;
  z-index: 2 !important;
  border-radius: 0 5px 5px 5px;
  border-top: 1px solid rgba(44, 44, 44, 0.1);
  border-left: 1px solid rgba(5, 5, 5, 0.1);

  box-shadow: 5px 6px 12px 0 rgb(0 0 0 / 18%);
}

.user-dropdown-title{
  display: flex;
  flex-direction: column;
}

.user_dropdown a {
  margin-top: 2px;
  line-height: 2.5;
  margin: 0 auto;
}

.button-logout{
  line-height: 3;
  padding-left: 15px;
  font-size: 16px;
  color: #222;
}

/* Nav Category - Sub Menu */

.nav-category {
  width: 100%;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 50px;
}

.nav-item {
  font-size: 16px;
}

.nav-item a {
  color: #111;
}

.ant-dropdown-menu-item-active span a,
.nav-item a:hover {
  color: #1890ff !important;
}

@media only screen and (max-width: 767px) {
  .ant-layout-header {
    height: 70px;
  }
}
