.soraly-section-2 {
  padding-top: 20px;
  border-bottom: 1px solid rgb(230, 229, 229);
}

.site_card-wrapper {
  margin-bottom: 20px;
}

.banner-adv{
  width: 1173px;
  height: 120px;
  margin-bottom: 30px;
}

.banner-adv img{
  object-fit: cover;
  width: 100%;
}
