.ant-card .ant-card-cover img{
    transition: transform 1s;
}

.ant-card:hover .ant-card-cover img
{
  transform: translateY(-20px);

}

.ant-card:hover .ant-card-meta-title{
    color: #1890ff;
}


.price-down{
    display: flex;
    flex-direction: row;
}

.sale-firstShop{
    height: 26px;
    border: 1px solid #000;
    margin: 0;
    width: 150px;
    border-radius: 15px;
    background: red;
    margin-bottom: 10px;
}

.sale-firstShop img{
    margin: 0 auto;
    vertical-align: middle;
    height:20px;
    padding-right: 5px;
}

.sale-firstShop span{
    margin: auto 0;
    font-size: 10px;
    color: #fff;
}
