.product_breadcrumb{
    margin-top: 5px;
}

.create_header{ 
    display: flex;
}

.create_header-title{
    margin: 20px 500px;
}

.create_header-title span{
    font-size: 24px;
    font-weight: 700;
    color: rgb(25,144,255);
}

.create_content{

}

/* Image */
.create_upload-img{
    display: flex;
    flex-direction: row;
    margin: 0 80px;
}

.create_upload-img-title{
    margin: auto 30px;
}

.create_upload-img-up span{
    color: rgb(155, 155, 155);
}

/* Form */

.create_upload-info{
    width: 60%;
    margin: 30px 100px;
}